<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>wxpay</name>
	<displayName><![CDATA[Weixin Pay]]></displayName>
	<version><![CDATA[1.0.1]]></version>
	<description><![CDATA[WxPay is integrated in the Weixin payment capabilities.
The user can complete the rapid payment process through mobile. WxPay allows to bind the bank card\'s fast payment basis and to provide users with safe, fast and efficient payment services.]]></description>
	<author><![CDATA[ecartx]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
