.tags_block .block_content {
  overflow: hidden; }
  .tags_block .block_content a {
    display: inline-block;
    font-size: 13px;
    line-height: 16px;
    
    padding: 10px 15px;
    border: 1px solid #E8E8E8;
    float: left;
    background: #fff;
    margin-left: -1px;
    margin-top: -1px;
    
    }
    .tags_block .block_content a:hover {
      color: #333333;
      background: #f6f6f6; }
