<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>flexiblebrands</name>
	<displayName><![CDATA[Ovic Flexible Brands Module]]></displayName>
	<version><![CDATA[1.0]]></version>
	<description><![CDATA[Ovic Flexible Brands Module]]></description>
	<author><![CDATA[OvicSoft [SonNC]]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>