<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>groupcategory</name>
	<displayName><![CDATA[Supershop - Group Category Module]]></displayName>
	<version><![CDATA[2.0]]></version>
	<description><![CDATA[Group Category Module]]></description>
	<author><![CDATA[OvicSoft]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>